/* GLOBAL */
* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.clear {
  clear: both;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 16px;
}

.line {
  background-image: url('../img/line.png');
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

/* HEADER */
.header__logoImg {
  float: left;
}

.header__slogan {
  float: right;
  margin-right: 120px;
}

.header__navbar ul {
  list-style: none;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  padding: 15px 0;
}

.header__navbar ul li {
  display: inline;
}

.header__navbar ul li:hover {
  border-bottom: 2px solid #b31c25;
}

.header__navbar ul .active {
  border-bottom: 2px solid #b31c25;
}

.header__navbar ul li a {
  font-size: 1.13vw;
  text-decoration: none;
  color: #636363;
  text-transform: uppercase;
  margin: 0 0.3em;
  font-weight: bold;
}
/* CAROUSEL */
.carousel {
  background-image: url('../img/slider_1.png');
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}
/* INTRO */
.intro p {
  text-align: center;
  color: #636363;
  line-height: 25px;
  padding: 0 25px;
}

/* PROGRAMS */
.programs__item {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.programs__item img {
  width: 100%;
}

.programs__item h3 {
  margin: 10px 0 5px;
  color: #b31c25;
  text-transform: uppercase;
  font-size: 16px;
}

.programs__item p {
  color: #636363;
  margin: 0;
  font-size: 14px;
}

/* NEWS */
.news {
  margin-bottom: 20px;
}

.news__left,
.news__right {
  float: left;
  width: 50%;
  padding: 0 5px;
}

.news__text {
  position: relative;
}

.news__text img {
  width: 100%;
  display: block;
}

.news__text p {
  position: absolute;
  color: #fff;
  bottom: 8px;
  left: 0px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 15px 10px;
  margin: 0;
}

.news__left .news__text p {
  font-size: 24px;
}

.news__small-item {
  float: left;
  width: 50%;
  padding: 0 8.5px 10px;
}

.news__text hr {
  margin: 0;
  height: 5px;
  background-color: #b31c25;
  margin-top: 3px;
}

/* FOOTER */
.footer {
  background: #b31c25;
  color: white;
  padding: 20px 50px;
}

.footer img {
  float: left;
}

.footer p {
  float: right;
  width: 50%;
  word-spacing: 2px;
  text-align: justify;
}
